doctype html
head
  meta(charset='UTF-8')
  title Contact Log
  link(rel='styleSheet' href='/css/myStyle.css')
  link(rel='styleSheet' href='/css/contactLog.css')
nav.navigate
  a.navigate(href='myAboutMe') About Me
  a.navigate(href='contactMe') Contact Me
  a.navigate(href='myContacts') Contacts
  a.navigate(href='myWidgets') Widgets
  a.navigate(href='contactLog') Contact Log
  if isLogin
    a.navigate(href='logout') #{name}
  else
    a.navigate(href='login') Login
div
  header
    h1 Contact Log 
br
div.filter
    form(action='/contactLog' method='GET')
        input#all(type='radio' name='filter' value='all')
        label(for='all') All 

        input#question(type='radio' name='filter' value='question')
        label(for='question') Question

        input#concern(type='radio' name='filter' value='concern')
        label(for='concern') Concern

        input#comment(type='radio' name='filter' value='comment')
        label(for='comment') Comment

        input#filter(type='submit' value='Filter')
if isEmpty 
    p There are no messages in the contact log.
else
    div#contactLog
        table#table
            tbody
                tr
                    th Title
                    th Email
                    th Username
                    th Link
                    th Category
                    th Message
                each contact in contacts
                    tr
                        td= contact.title
                        td= contact.email
                        td= contact.username
                        td= contact.link
                        td= contact.category
                        td= contact.msg